{% extends 'base.html.twig' %}

{% block title %}Książki{% endblock %}

{% block body %}

    {% include '_layout/list_header.html.twig' with {'header': 'Książki', 'path_add': 'app_book_new'} %}

    {{ form_start(filterForm, {'attr': {'class': 'form-inline'}}) }}
    <div class="form-group mx-sm-2 mb-1">
        {{ form_errors(filterForm.title) }}
        {{ form_widget(filterForm.title) }}
    </div>
    <div class="form-group mx-sm-2 mb-1">
        {{ form_errors(filterForm.author) }}
        {{ form_widget(filterForm.author) }}
    </div>
    <div class="form-group mx-sm-2 mb-1">
        {{ form_errors(filterForm.isbn) }}
        {{ form_widget(filterForm.isbn) }}
    </div>
    <div class="form-group mx-sm-2 mb-1">
        {{ form_errors(filterForm.publishingHouse) }}
        {{ form_widget(filterForm.publishingHouse) }}
    </div>
    <div class="form-group mx-sm-2 mb-1">
        {{ form_errors(filterForm.isRead) }}
        {{ form_widget(filterForm.isRead) }}
    </div>
    <div class="form-group mx-sm-2 mb-1">
        {{ form_widget(filterForm.submit, {'attr': {'class': 'btn-primary'}}) }}
    </div>
    {{ form_end(filterForm, {'attr': {'class': 'form-group mx-sm-3 mb-2'}}) }}

    <div class="navigation">
        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
    </div>

    <table class="table rounded table-bordered">
        <thead>
        <tr>
            <th>Nr</th>
            <th scope="col">{{ knp_pagination_sortable(pagination, 'Tytuł', 'b.title') }}</th>
            <th scope="col">Autor</th>
            <th scope="col">Przeczytana</th>
            <th scope="col" class="w-25">Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for book in pagination %}
            <tr>
                <td class="text-right">
                    {{ loop.index + (pagination.currentPageNumber - 1) * pagination.itemNumberPerPage}}.
                </td>
                <td>{{ book.title }}</td>
                <td>{{ book.authors|join(', ') }}</td>
                <td class="text-center">
                    {% set readBook = book.readBooks.first %}
                    {{ isRead(readBook) }}
                </td>
                <td class="w-25">
                    <a class="btn btn-outline-primary btn-sm"
                       href="{{ path('app_book_show', {'id': book.id}) }}">szczegóły</a>
                    <a class="btn btn-outline-primary btn-sm"
                       href="{{ path('app_book_edit', {'id': book.id}) }}">edytuj</a>
                    <a class="btn btn-outline-primary btn-sm btn-delete"
                       data-element-title="{{ book.title }}"
                       data-element-id="{{ book.id }}"
                       href="{{ path('app_book_delete', {'id': book.id}) }}">usuń</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">brak danych</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
    </div>

    {% include '_layout/modal_delete.html.twig' %}

{% endblock %}
