{% extends 'base.html.twig' %}

{% block title %}Książki{% endblock %}

{% block body %}

    {% include '_layout/list_header.html.twig' with {'header': 'Książki', 'path_add': 'app_book_new'} %}

    <table class="table rounded table-bordered">
        <thead>
        <tr>
            <th>Nr</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Autor</th>
            <th scope="col">Przeczytana</th>
            <th scope="col" class="w-25">Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td class="text-right">{{ loop.index }}.</td>
                <td>{{ book.title }}</td>
                <td>{{ book.authors|join(', ') }}</td>
                <td class="text-center">
                    {% if (book.readBooks.first is not empty) %}
                        <i class="fa fa-check" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-times" aria-hidden="true"></i>
                    {% endif %}
                </td>
                <td class="w-25">
                    <a class="btn btn-outline-primary btn-sm"
                       href="{{ path('app_book_show', {'id': book.id}) }}">szczegóły</a>
                    <a class="btn btn-outline-primary btn-sm"
                       href="{{ path('app_book_edit', {'id': book.id}) }}">edytuj</a>
                    <a class="btn btn-outline-primary btn-sm"
                       href="{{ path('app_book_delete', {'id': book.id}) }}">usuń</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">brak danych</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
