{% extends 'base.html.twig' %}

{% block title %}Szczegóły książki{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-11">
            <h1>{{ book.title }}</h1>
        </div>
        <div class="col-1">
            <div class="btn-group pull-right" role="group">
                <a class="btn btn-outline-primary btn-sm" href="{{ path('app_book_edit', {'id': book.id}) }}">edytuj</a>
                <a class="btn btn-outline-primary btn-sm btn-delete"
                   back-link="{{ path('app_book_index') }}"
                   data-element-title="{{ book.title }}"
                   data-element-id="{{ book.id }}"
                   href="{{ path('app_book_delete', {'id': book.id}) }}">usuń</a>
            </div>

        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Autor</th>
                <td>
                    {{ book.authors|join(', ') }}
                </td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <th>Wydawnictwo</th>
                <td>{{ book.publishingHouse }}</td>
            </tr>
            <tr>
                <th>Wydano</th>
                <td>{{ book.city }}, {{ book.publishYear }} rok</td>
            </tr>
            <tr>
                <th>Ilość stron</th>
                <td>{{ book.pages }}</td>
            </tr>
            <tr>
                <th>Przeczytano</th>
                <td>
                    {% set readBook = book.readBooks.first %}
                    {{ isRead(readBook) }}

                    {% if (readBook is not empty) %}
                        {% if readBook.startDate is not empty %}
                            ({{ readBook.startDate|date("d.m.Y") }} -
                            {% if readBook.endDate is not empty %}
                                {{ readBook.endDate|date("d.m.Y") }})
                            {% else %}
                                obecnie)
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row notes">
        <div class="col-12">
            <h2>Notatki</h2>
        </div>
        <div class="col-12">
            <p>
                {{ book.note|nl2br }}
            </p>
        </div>
    </div>

    {{ include('_layout/back_link.html.twig', {'path_list': 'app_book_index'}) }}

    {% include '_layout/modal_delete.html.twig' %}

{% endblock %}
