{% extends 'base.html.twig' %}

{% block title %}Wydawnictwa{% endblock %}

{% block body %}

    {% include '_layout/list_header.html.twig' with {'header': 'Wydawnictwa', 'path_add': 'app_publishinghouse_new'} %}

    <table class="table rounded table-bordered">
        <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col" class="w-25">Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for publishing_house in publishing_houses %}
            <tr>
                <td>{{ publishing_house.name }}</td>
                <td class="w-25">
                    <a class="btn btn-outline-primary btn-sm"
                       href="{{ path('app_publishinghouse_edit', {'id': publishing_house.id}) }}">edytuj</a>
                    <a class="btn btn-outline-primary btn-sm btn-delete"
                       data-element-title="{{ publishing_house.name }}"
                       data-element-id="{{ publishing_house.id }}"
                       href="{{ path('app_publishinghouse_delete', {'id': publishing_house.id}) }}">usuń</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">brak danych</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '_layout/modal_delete.html.twig' %}

{% endblock %}
