{% from '_layout/macro.html.twig' import menu_active_class %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark rounded-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ menu_active_class('app_book_index') }}">
                    <a class="nav-link" href="{{ path('app_book_index') }}" title="Lista książek">Książki</a>
                </li>
                <li class="nav-item {{ menu_active_class('app_author_index') }}">
                    <a class="nav-link" href="{{ path('app_author_index') }}" title="Lista autorów">Autorzy</a>
                </li>
                <li class="nav-item {{ menu_active_class('app_publishinghouse_index') }}">
                    <a class="nav-link" href="{{ path('app_publishinghouse_index') }}" title="Lista wydawnictw">Wydawnictwa</a>
                </li>
                <li class="nav-item {{ menu_active_class('app_city_index') }} ">
                    <a class="nav-link" href="{{ path('app_city_index') }}" title="Lista miejsc wydania">Miejsca
                        wydania</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userOptionsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.firstName }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userOptionsDropdown">
                        <a class="dropdown-item" href="{{ path('app_logout') }}" title="Wyloguj">Wyloguj</a>
                    </div>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {{ menu_active_class('app_login') }}">
                    <a class="nav-link" href="{{ path('app_login') }}" title="Zaloguj">Zaloguj</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>