<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <span class="nab-label">Książki</span>
                        <span class="nav-link">
                            <a href="{{ path('app_book_index') }}" title="Lista książek"><i class="fa fa-list" aria-hidden="true"></i></a>
                            <a href="{{ path('app_book_new') }}" title="Dodaj książkę"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="nab-label">Autorzy</span>
                        <span class="nav-link">
                            <a href="{{ path('app_author_index') }}" title="Lista autorów"><i class="fa fa-list" aria-hidden="true"></i></a>
                            <a href="{{ path('app_author_new') }}" title="Dodaj autora"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span>Wydawnictwa</span>
                        <span class="nav-link">
                            <a href="{{ path('app_publishinghouse_index') }}" title="Lista wydawnict"><i class="fa fa-list" aria-hidden="true"></i></a>
                            <a href="{{ path('app_publishinghouse_new') }}" title="Dodaj wydawnictwo"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </span>

                    </li>
                    <li class="nav-item">
                        <span>Miejsca wydania</span>
                        <span class="nav-link">
                            <a href="{{ path('app_city_index') }}" title="Lista miejsc wydania"><i class="fa fa-list" aria-hidden="true"></i></a>
                            <a href="{{ path('app_city_new') }}" title="Dodaj miejsce wydania"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </span>
                    </li>
                    <li class="nav-item">

                    </li>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
