<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_book_index') }}" title="Lista książek">Książki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_author_index') }}" title="Lista autorów">Autorzy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_publishinghouse_index') }}" title="Lista wydawnictw">Wydawnictwa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_city_index') }}" title="Lista miejsc wydania">Miejsca wydania</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
